:root{
    --red:#e84118;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}

*::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    height:5rem;
    width: 18rem;
    color:#fff;
    border:.2rem solid #fff;
    outline:.2rem solid #fff;
    outline-offset: -.8rem;
    font-size: 2rem;
    margin:1.5rem 0;
    cursor: pointer;
    background:none;
}
.heading{
    text-align: center;
    width: 90%;
    margin:0 auto;
    padding:0 .5rem;
    padding-top: 6rem;
    box-shadow: 0 .2rem .05rem rgba(0,0,0,.3);
}

.heading span{
    display: inline-block;
    font-size: 3.5rem;
    color:var(--red);
    padding:1rem 0;
    box-shadow: 0 .2rem .05rem var(--red);
}

.btn:hover{
    outline-offset: .4rem;
    background:var(--red);
} .home .content h1{
    font-size: 5rem;
}

.home .content p{
    width: auto;
}

.about .row{
    flex-flow: column;
}

.about .row .image img{
    width: 85%;
}


.about{
    min-height: 100vh;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
    overflow-x: hidden;
}

.about .row .image img{
    width: 30rem;
    filter: drop-shadow(.5rem .5rem .5rem rgba(0,0,0,.3));
}

.about .row .content{
    padding:1rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color:var(--red);
}

.about .row .content p{
    font-size: 2rem;
    color:#666;
    padding:1rem 0;
}

.about .row .content .btn{
    color:var(--red);
    border-color: var(--red);
    outline-color: var(--red);
}

.about .row .content .btn:hover{
    color:#fff;
}