.order{
    min-height: 100vh;
    background:url(../images/order-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
}

.order .heading span{
    color:#fff;
}

.order form{
    border-radius: 1rem;
    background:#fff;
    width: 85%;
    margin:2rem auto;
    padding:2rem;
    box-shadow: 0 .5rem 1rem #000;
    text-align: center;
}

.order form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order form .inputBox input,
.order form .inputBox select,
.order form .inputBox textarea{
    padding:0 1rem;
    font-size: 1.7rem;
    color:#333;
    height:4rem;
    width:49%;
    margin:1rem 0;
    border:.1rem solid #333;
}

.order form .inputBox input:focus,
.order form .inputBox select:focus,
.order form .inputBox textarea:focus{
    border:.2rem solid var(--red);
}

.order form .inputBox textarea{
    height:20rem;
    padding:1rem;
    resize: none;
}

.order form .inputBox #map{
    height:20rem;
    margin:1rem 0;
    width: 49%;
}

.order form .btn{
    color:var(--red);
    border-color: var(--red);
    outline-color: var(--red);
}

.order form .btn:hover{
    color:#fff;
}
@media (max-width:400px){

    html{
        font-size: 50%;
    }

    header .header-1{
        flex-flow: column;
    }

    header .header-1 .logo{
        padding-bottom: 1rem;
    }

    header .header-2 .navbar ul{
        width: 100vw;
    }

    .order form{
        width: 95%;
    }

}
/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header .header-2 #menu{
        display: block;
    }

    header .header-2 .navbar{
        position: absolute;
        top:100%; left: -120%;
    }

    header .header-2 .navbar ul{
        flex-flow: column;
        justify-content: center;
        min-height: calc(100vh - 6rem);
        padding-bottom: 6rem;
        background:#000;
        width: 32rem;
    }

    header .header-2 .navbar ul li{
        width: 100%;
        text-align: center;
    }

    header .header-2 .navbar ul li a{
        font-size: 2.7rem;
        display: block;
    }

    header .header-2 .fa-times{
        transform: rotate(180deg);
    }

    header .header-2 .nav-toggle{
        left:0;
    }

    .home .content h1{
        font-size: 5rem;
    }

    .home .content p{
        width: auto;
    }

    .about .row{
        flex-flow: column;
    }

    .about .row .image img{
        width: 85%;
    }

}

@media (max-width:600px){

    .order form .inputBox input,
    .order form .inputBox select,
    .order form .inputBox textarea,
    .order form .inputBox #map{
        width: 100%;
    }

}
:root{
    --red:#e84118;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}

*::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    height:5rem;
    width: 18rem;
    color:#fff;
    border:.2rem solid #fff;
    outline:.2rem solid #fff;
    outline-offset: -.8rem;
    font-size: 2rem;
    margin:1.5rem 0;
    cursor: pointer;
    background:none;
}

.btn:hover{
    outline-offset: .4rem;
    background:var(--red);
}

.heading{
    text-align: center;
    width: 90%;
    margin:0 auto;
    padding:0 .5rem;
    padding-top: 6rem;
    box-shadow: 0 .2rem .05rem rgba(0,0,0,.3);
}

.heading span{
    display: inline-block;
    font-size: 3.5rem;
    color:var(--red);
    padding:1rem 0;
    box-shadow: 0 .2rem .05rem var(--red);
}
